<% tree = [] %>
<% Slickr::Page.walk_tree do |page, level| %>
  <% tree << Array({"#{Array.new(level, '-').join('')}#{page.title}".to_sym => page.id}).flatten if page.type == nil %>
<% end %>

<% if @slickr_page.new_record? %>
  <%= semantic_form_for [:admin, @slickr_page], builder: ActiveAdmin::FormBuilder do |f| %>
    <%= f.inputs do %>
      <%= f.input :title %>
      <%= f.input :parent_id, collection: options_for_select(tree, params[:parent]), as: :select %>
      <%= f.input :layout, collection: options_for_select(Slickr::Page::LAYOUTS.map{|l| [l[:template].capitalize, l[:template]]}) %>
    <% end %>
    <%= f.actions %>
  <% end %>

<% else %>
  <div id="page-data" data-page_data="<%= @slickr_page.to_json(methods: [:preview_page, :admin_publish_path, :admin_unpublish_path, :admin_page_path, :admin_image_index_path, :slickr_image_path, :admin_preview_page_path, @slickr_page.additional_page_edit_paths].flatten) %>" data-page_layouts="<%= Slickr::Page::LAYOUTS.map{|l| { display_name: l[:template].humanize.capitalize, value: l[:template], exclude: l[:exclude] }}.to_json %>"></div>
  <div id='page_edit_content' ></div>
  <%= javascript_pack_tag 'slickr_page_edit' %>
<% end %>
