<div>Page title: <%= @page.title %></div>
<div>Page slug: <%= @page.slug %></div>
<div>
  <p>Drafts</p>
  <ul>
    <% @page.drafts.each_with_index do |draft, i| %>
      <li><%= draft.id %> - Draft <%= i+2 %> - <%= draft.created_at.strftime("%H:%M %-d %b %Y") %><%= " - Active" if draft == @page.active_draft %></li>
    <% end %>
  </ul>
</div>
<div>Page status: <%= @page.aasm(:status).current_state %></div>
<div>
  <p>Content updates</p>
  <ul>
    <% @page.versions.where(content_changed: true).reverse.each do |version| %>
      <li><%= version.created_at.strftime("%H:%M %-d %b %Y") %> - <%= version.actor.display_name if version.whodunnit %> <%= version.changeset.map {|k, v| "#{k} #{v.first}_#{v.last}"}  %> </li>
    <% end %>
  </ul>
  <p>Changes history</p>
  <ul>
    <% @page.versions.reverse.each do |version| %>
      <li><%= version.created_at.strftime("%H:%M %-d %b %Y") %> - <%= version.actor.display_name if version.whodunnit %> <%= version.changeset.map {|k, v| "#{k} #{v.first}_#{v.last}"}  %> </li>
    <% end %>
  </ul>
</div>
<%- if @page && !@page.new_record? %>
  <%= semantic_form_for @page, url: admin_page_path(@page), method: :put do |f| %>
    <%= f.inputs do %>
      <% @page.content_areas.each_with_index do |c, i| %>
        <%= text_area_tag "slickr_page[content_areas][][content]", c.content %>
      <% end %>
    <% end %>
    <%= f.actions %>
  <% end %>
  <%= semantic_form_for :page, url: create_draft_admin_page_path(@page), method: :post do |f| %>
    <%= f.actions do %>
      <%= f.action :submit, label: 'Create draft', as: :button %>
    <% end %>
  <% end %>
  <% if @page.published? %>
    <%= semantic_form_for :page, url: unpublish_admin_page_path(@page), method: :put do |f| %>
      <%= f.actions do %>
        <%= f.action :submit, label: 'Unpublish', as: :button %>
      <% end %>
    <% end %>
  <% else %>
    <%= semantic_form_for :page, url: publish_admin_page_path(@page), method: :put do |f| %>
      <%= f.actions do %>
        <%= f.action :submit, label: 'Publish', as: :button %>
      <% end %>
    <% end %>
  <% end %>
<% elsif @page.new_record? %>
  <%= semantic_form_for @page, url: admin_pages_path, method: :post do |f| %>
    <%= f.inputs do %>
      <%= f.input :title %>
      <% @page.content_areas.each_with_index do |c, i| %>
        <%= text_area_tag "slickr_page[content_areas][][content]", c.content %>
      <% end %>
    <% end %>
    <%= f.actions %>
  <% end %>

<% end %>
