<div id="dashboard_title_bar">
  <h2 id="dashboard_title_bar__greeting"><%= greeting %></h2>
  <p id="dashboard_title_bar__last-visit">
    <%= t('.days_since_last_visit', number: current_admin_user.days_since_last_login) %>
  </p>
  <div id="dashboard_title_bar__actions">

  </div>
  <p id="dashboard_title_bar__activity"><%= t('.activity') %></p>
</div>
<ul id="dashboard__events_list">
  <%= render_activities(@activities, layout: :activity) %>
</ul>
<div id='index_footer'>
  <%= paginate @activities %>
  <div class='pagination_information'>
    <%= page_entries_info @activities %>
  </div>
</div>
