<% articles.each do |a| %>
  <div class='news-list__entry'>
    <h2 class='news-list__title'><%= a.title %></h2>
    <div class='news-list__summary'>
      <h3><%= a.header %></h3>
      <p><%= a.subheader %></p>
      <p><%= t(a.category, scope: [:news, :category_options]) %></p>
    </div>
    <%= link_to 'Continue reading...', news_articles_path(a), class: 'news-list__link' %>
  </div>
<% end %>
