<div id='split_display_with_image' class='panel'>
  <div class='image'>
    <p class='attributes_list_attr_name'>User photo</p>
    <%= image_tag resource.avatar %>
  </div>
  <ol class='attributes_list'>
    <li>
      <p class='attributes_list_attr_name'>Email</p>
      <p class='attributes_list_attr_value'><%= resource.email %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>First name</p>
      <p class='attributes_list_attr_value'><%= resource.first_name %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>Last name</p>
      <p class='attributes_list_attr_value'><%= resource.last_name %></p>
    </li>
    <li>
      <p class='attributes_list_attr_name'>Role</p>
      <p class='attributes_list_attr_value'><%= resource.role %></p>
    </li>
  </ol>
</div>
