<title><%= slickr_page_title %></title>
<meta name="description" content='<%= slickr_meta_data(:meta_description) %>'>

<!-- Open Graph data for Facebook -->
<meta content='<%= slickr_meta_data(:og_type) %>' property='og:type'>
<meta content='<%= slickr_meta_data(:site_title) %>' property='og:site_name'>
<meta content='<%= slickr_meta_data(:og_title) %>' property='og:title'>
<meta content='<%= slickr_meta_data(:og_description) %>' property='og:description'>
<meta content='<%= slickr_meta_data(:og_url) %>' property='og:url'>
<meta content='<%= slickr_meta_data(:og_image) %>' property='og:image'>


<!-- Twitter Card data -->
<meta content='summary_large_image' name='twitter:card'>
<meta content='<%= slickr_meta_data(:twitter_title) %>' name='twitter:title'>
<meta content='<%= slickr_meta_data(:twitter_description) %>' name='twitter:description'>
<meta content='<%= slickr_meta_data(:twitter_image) %>' name='twitter:image'>

<% if Rails.env == 'production' && @slickr_settings["google_analytics_identifier"].present? %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= @slickr_settings["google_analytics_identifier"] %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '<%= @slickr_settings["google_analytics_identifier"] %>');
  </script>
<% elsif Rails.env == 'production' && @slickr_settings["google_tag_identifier"].present? %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= @slickr_settings["google_tag_identifier"] %>"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', '<%= @slickr_settings["google_tag_identifier"] %>');</script>
<% else %>
  <!-- Analytics will be automatically uncommented in production
  <%= google_analytics_script(@slickr_settings["google_analytics_identifier"]) %>
  <%= google_tag_manager_script(@slickr_settings["google_tag_identifier"]) %>
  -->
<% end %>
